{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-sm-8 col-xs-10">
			<h1 class="landing">Welovegifts</h1>
			<h2 style="font-size:18px;">Le premier site pour connaître les cadeaux qui rendront vos amis heureux</h2>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-10">
			<p class='login'>
				<!--button class="btn" id="disconnect" onclick="fb_logout();">Déconnexion</button!-->
				<button class="btn btn-primary" id="login" data-url="{{ facebook.loginUrl({ redirect_uri: url('fblogin'), scope: 'email, user_birthday, user_likes, user_interests' }) }}">> Se connecter via Facebook</button>
			</p>
		</div>
	</div>
	<noscript>
		<div class="container">
			<p class="whiteText" style="margin-top:25%;">Welovegifts necessite l'activation de Javascript pour fonctionner correctement</p>
		</div>
	</noscript>

	{% raw %}
		<div class="row">
			<div class="alert alert-info" ng-show="info" style="display:none;">{{ info }}</div>
			<div class="alert alert-danger" ng-show="danger" style="display:none;">{{ danger }}</div>
			<div class="alert alert-warning" ng-show="warning" style="display:none;">{{ warning }}</div>
			<div class="alert alert-success" ng-show="success" style="display:none;">{{ success }}</div>
			<div class="alert alert-notice" ng-show="notice" style="display:none;">{{ notice }}</div>
		</div>
	{% endraw %}
	
	<div class="col-md-10 col-sm-10 col-xs-10">
		<div id="carousel-example-generic" data-interval="5000" data-wrap="false" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="{{ asset('bundles/newstartcommon/images/cap_1.jpg') }}" alt="...">
		    </div>
		    <div class="item">
		      <img src="{{ asset('bundles/newstartcommon/images/cap_2.jpg') }}" alt="...">
		    </div>
		    <div class="item">
		      <img src="{{ asset('bundles/newstartcommon/images/cap_3.jpg') }}" alt="...">
		    </div>	    
		    <div class="item">
		      <img src="{{ asset('bundles/newstartcommon/images/cap_4.jpg') }}" alt="...">
		    </div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
