{% extends '::base.html.twig' %}

{% block body %}
	<div class="container" ng-controller="ProductListCtrl">
		{% if user %}
			{% include '::header.html.twig' %}
		{% else %}
			{% include '::guest_header.html.twig' %}
		{% endif %}
		<div class="row row-user-profile">
			<div class="col-md-2 col-sm-2 col-xs-4 user-profile">
				<div class="viewed-profile">
					<h2><a href="{{ path('profile', {userId:userProfile.getFacebookId}) }}#/profile/{{ userProfile.getFacebookId }}">{{ userProfile.firstName }} {{ userProfile.lastName }}</a></h2>
					<br />
					<div class="profile-image">
						<a href="{{ path('profile', {userId:userProfile.getFacebookId}) }}#/profile/{{ userProfile.getFacebookId }}">
							<img src="https://graph.facebook.com/{{ userProfile.username }}/picture?width=180&height=180" width="180px" />
						</a>
					</div>
				</div>
			</div>
		</div>

		{% raw %}
			<div class="row">
				<div class="alert alert-warning" ng-show="warning" style="display:none;">{{ warning }}</div>
			</div>
			<div class="row">
				<div class="alert alert-notice" ng-show="notice" style="display:none;">{{ notice }}</div>
			</div>
		{% endraw %}

		<div ng-view class="row">
			<div class="row products">
				<h2>Sa liste de cadeaux</h2>
				{% for gift in gifts %}
	 				<div class="col-md-2 col-sm-3 col-xs-5 product">
	 					<div class="product-image">
							<a href="#/product/{{gift.id}}"><img src='{{ gift['thumb_url'] }}' /></a>
	 						<p><span>{{ gift.name }}</span></p>
	 					</div>
	 				</div>
	 			{% endfor %}
			</div>
		</div>

		<input type="hidden" id="path_have_bought" value="{{ path('have_bought')}}" />

	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('bundles/newstartcommon/js/vendor/angular.min.js') }}"></script>
	<script src="{{ asset('bundles/newstartcommon/js/vendor/angular-resource.js') }}"></script>
	<script src="{{ asset('bundles/newstartcommon/css/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('bundles/newstartcommon/js/app_ng.js') }}"></script>
	<script src="{{ asset('bundles/newstartcommon/js/controllers.js') }}"></script>
	<script src="{{ asset('bundles/newstartcommon/js/services.js') }}"></script>
{% endblock %}