{% extends '::base.html.twig' %}

{% block body %}
	{{ facebook_login_button({'autologoutlink': true}) }}

	<div class="container">
		<h1>Selectionnez vos {{ bestFriendsLimit }} meilleurs amis</h1>
		<p>Parmis ces personnes, à qui prévoyez-vous d'offrir un cadeau cette année : </p>
		<form>
			<input type="submit" value="Valider" class="btn validate">
			<div class="row friends">
				{% for friend in friends %}
					<div class="col-md-3 col-sm-4 col-xs-6 friend notSelected" id="{{ friend.id }}">
						<div class="myWell media">
							<span class="pull-left"><img src="https://graph.facebook.com/{{ friend.id }}/picture?width={{ img_size }}&height={{ img_size }}" class="media-object" height="{{ img_size }}px"/></span>
							<p class="media-body">
								<a href="#">{{ friend.name }}</a> <br />
								<span class="glyphicon glyphicon-ok"></span>
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
			<input type="hidden" id="friendsSelected" value="" />
			<input type="submit" value="Valider" class="btn validate">
		</form>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('div.friend').click(function (e) {
			e.preventDefault();
			if($(this).hasClass('selected')) {
				$(this).removeClass('selected');
				$(this).addClass('notSelected');
			} else {
				$(this).removeClass('notSelected');
				$(this).addClass('selected');				
			}
		});

		$('.validate').click(function (e) {
			e.preventDefault();
			if($('.selected').length < 5) {
				console.log("Vous devez selectionner plus de 5 personnes.");
			} else {
				var str = '';
				$('.selected').each(function () {
					str += $(this).attr('id') + ',';
				});
				$('#friendsSelected').val(str);
			}
		});

/*		$('#validate').click(function (e) {
			console.log('validate');
			FB.ui(
		     { 
		      method: 'apprequests', 
		      to: '100005778095679',
		      link: "http://havefyve.com",
		      name: "plop",
		      message: "Inscris-toi pour recevoir de ma part des cadeaux qui te feront vraiment plaisir !"
		     }, 
		     function(param){
		            // If they cancel params will show: 
		            //    {action:false, ...}
		            // and if they send the friend request it'll have:
		            //    {action:true, ...}
		            // and if they closed the pop-up window then:
		            //    param is undefined
		     }
		    );
		});

*/
	</script>
{% endblock %}