<!doctype html>
<html lang="en" xmlns:fb="http://www.facebook.com/2008/fbml" ng-app="havefyveApp">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="HaveFyve, le réseau social des cadeaux. Idées de cadeaux pour faire vraiment plaisir." />
        <meta name="keywords" content="cadeaux, social" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}HaveFyve{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/newstartcommon/css/vendor/bootstrap/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/newstartcommon/css/vendor/normalize.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/newstartcommon/css/vendor/style.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/newstartcommon/css/main.css') }}">
        {% endblock %}

    </head>
    <body>
        <span class="right-link">
          <a href="#" id="bugReport">Un bug ?<span class="glyphicon glyphicon-pencil"></span></a>
        </span>
        {% block body %}{% endblock %}
        <input type="hidden" id="path_bug_report" value="{{ path('bug_report') }}" />
        <div id="bugReportModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Pouvez-vous nous dire ce qui s'est passé ?</h4>
              </div>
              <div class="modal-body">
                <form>
                  <p>Pour nous aider à reproduire le bug, pouvez-vous nous décrire dans quelles conditions celui-ci est arrivé : </p>
                  <textarea id="conditions"></textarea>
                  <p>Pouvez-vous nous préciser ce que ce bug a causé : </p>
                  <textarea id="causes"></textarea>
                  <p>Pouvez-vous qualifier le type de bug : 
                    <select id="type">
                      <option>Sélectionnez</option>
                      <option>Bug graphique</option>
                      <option>Lenteur</option>
                      <option>Problème de login</option>
                      <option>Pas de détection d'image</option>
                      <option>Autre</option>
                    </select>
                  </p>
                  <p>Pouvez-vous qualifier la gravité du bug : 
                    <select id="priority">
                      <option>Sélectionnez</option>
                      <option>Peu importante</option>
                      <option>Moyennement importante</option>
                      <option>Très importante</option>
                    </select>
                  </p>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="bugReportSend">Envoyer</button>
              </div>
            </div>
          </div>
        </div>
        <div id="fb-root"></div>

        <svg id="svg-image-blur">
            <filter id="blur-effect">
                <feGaussianBlur stdDeviation="15" />
            </filter>
        </svg>
        {% block javascripts %}
            <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
            <script src="{{ asset('bundles/newstartcommon/js/main.js') }}"></script>
            <script src="{{ asset('bundles/newstartcommon/js/vendor/jquery.ba-outside-events.min.js') }}"></script>
            <script src="{{ asset('bundles/newstartcommon/css/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <script>
                  function goLogIn(){
                      window.location.href = "{{ path('_security_check') }}";
                  }
                  function goLogOut(){
                      window.location.href = "{{ path('_security_logout') }}";
                  }
                  window.fbAsyncInit = function() {
                    // init the FB JS SDK
                    FB.init({
                      appId      : '{{ facebookAppID }}',                       // App ID from the app dashboard
                      status     : false,                                   // Check Facebook Login status
                      cookie     : true,                                    // enable cookies to allow the server to access the session
                      xfbml      : true,                                    // Look for social plugins on the page
                      oauth      : true,
                      logging    : true
                    });

                    onFbInit(FB);
                  }
            </script>
       {% endblock %}
    </body>
</html> 