		<div class="row header">
			<div class="col-md-2 col-sm-3 col-xs-2">
				<span><a href="{{ path('public_home') }}" style="text-align:left"><span class="glyphicon glyphicon-home"></span>HaveFyve</a></span>
			</div>
			<div class="col-md-1 col-md-offset-3 col-sm-3 col-xs-2">
				<span><a href="{{ path('feed') }}"><span class="glyphicon glyphicon-calendar"></span>News</a></span>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-2">
				<span><a href="{{ path('friends') }}#/friends/"><span class="glyphicon  glyphicon-user"></span>Friends</a></span>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-2">
				<span id="profile">
					<a href="{{ path('me') }}">
						<span class="glyphicon"></span> {{ user.firstName }} {{ user.lastName }} 
						<span class="glyphicon glyphicon-play settings"></span>
					</a>
				</span>
			</div>
		</div>
