		<div class="row header">
			<div class="col-md-2 col-sm-3 col-xs-2">
				<span><a href="{{ path('public_home') }}" style="text-align:left"><span class="glyphicon glyphicon-home"></span>HaveFyve</a></span>
			</div>
			<div class="col-md-1 col-md-offset-3 col-sm-3 col-xs-2">
				<span><a href="{{ path('feed') }}"><span class="glyphicon glyphicon-calendar"></span>News</a></span>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-2">
				<span><a href="{{ path('friends') }}#/friends/"><span class="glyphicon  glyphicon-user"></span>Friends</a></span>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-2">
				<span id="profile">
					<a href="{{ path('me') }}">
						<span class="glyphicon"></span> {{ user.firstName }} {{ user.lastName }} 
						<span class="glyphicon glyphicon-play settings"></span>
					</a>
				</span>
			</div>
		</div>
		<svg id="svg-effects" style="display:none">
		    <filter id="blur-effect-1">
		        <feGaussianBlur stdDeviation="0.9" />
		    </filter>

		    <filter id="blur-effect-2">
		        <feGaussianBlur stdDeviation="2" />
		    </filter>
		</svg> 

		<svg:svg>
			<!-- Filter ID/Name -->
			<svg:filter id="blur-effect">
				<!-- Amount of Gaussian Blur that should be applied -->
				<svg:feGaussianBlur stdDeviation="0.9"/>
			</svg:filter>
			<svg:filter id="example-two">
				<svg:feGaussianBlur stdDeviation="2"/>
	   		 </svg:filter>
		</svg:svg>