		<div class="header">
			<div class="logo">
				<span class="logo"><a href="{{ path('feed') }}" style="text-align:left">HaveFyve</a></span>
			</div>
			<div class="menu">
				<span class="menu-links">
					<a href="{{ path('feed') }}"><span class="glyphicon glyphicon-calendar"></span>What's new ?</a>
				</span>
				<span class="menu-links">
					<a href="{{ path('friends') }}#/friends/"><span class="glyphicon  glyphicon-user"></span>Friends</a>
				</span>
				<span id="profile">
					<a href="{{ path('me') }}">{{ user.firstName }} {{ user.lastName }}</a>
				</span>
				<span>
					<a href="#" class="settings"><span class="glyphicon glyphicon-play"></span></a>
				</span>
			</div>
			<div style="clear:both"></div>
			<div class="ddown">
		        <ul class="ddown-menu">
					<li><a href="{{ path('settings')}}">Settings</a></li>
					<li><a href="{{ path('logout') }}" id="logout">Logout</a></li>
		        </ul>
			</div>
		</div>
