{% extends '::base.html.twig' %}

{% block body %}
	<div class="container" ng-controller="MyProductListCtrl">
		{% include '::header.html.twig' %}
		<div class="row row-user-profile">
			<div class="col-md-2 col-sm-2 col-xs-4 user-profile">
				<div class="viewed-profile">
					<h2>{{ user.firstName }} {{ user.lastName }}</h2>
					<div class="profile-image">
						<img src="https://graph.facebook.com/{{ user.username }}/picture?width=180&height=180" width="180px"/>
					</div>
				</div>
			</div>
		</div>
		<div class="row setting">
			Profil privé 
 			<input type="checkbox" name="prive" id="prive" {% if not user.public %}checked="checked"{% endif %}>
			<div class="profileUrl" {% if not user.public %}style="display:none"{% endif %}>
				Vous pouvez partager cette URL via mail ou via les réseaux sociaux :
				<br /><input type="text" size="100" value="{{ app.request.getSchemeAndHttpHost() ~ path('profile', {userId: user.facebookId}) }}" id="profileUrl">
			</div>
		</div>
		<div class="row setting">
			Recevoir les notifications 
 			<input type="checkbox" name="email" id="email" {% if not user.emailStop %}checked="checked"{% endif %}>
 		</div>
	</div>
	<input type="hidden" id="profile_prive" value="{{ path('profile_prive')}}" />
	<input type="hidden" id="profile_mail" value="{{ path('profile_mail')}}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('#profileUrl').focus(function () {
			var save_this = $(this);
		    window.setTimeout (function(){ 
		       save_this.select(); 
		    },100);
		});
		$('#profileUrl').click(function () {
		    $(this).select(); 
		});
		$('#prive').change(function () {
			if($(this).is(':checked')) {
				var publicProfile = 0;
			} else {
				var publicProfile = 1;
			}
			$.ajax({
				dataType: 'json',
			  	url: $('#profile_prive').val(),
				data: { publicProfile: publicProfile},
				success: function (reponse) {
					if(reponse.status == 'ok') {
						if(reponse.isPublic == 1) {
							$('.profileUrl').show();
							$('#profileUrl').focus();
						} else {
							$('.profileUrl').hide();
						}
					}
				}
			});
		});
		$('#email').change(function () {
			if($(this).is(':checked')) {
				var emailStop = 0;
			} else {
				var emailStop = 1;
			}
			$.ajax({
				dataType: 'json',
			  	url: $('#profile_mail').val(),
				data: { emailStop: emailStop},
				success: function (reponse) {
					if(reponse.status == 'ok') {

					}
				}
			});
		});
	</script>	
{% endblock %}
