<p>Salut {{ friend.fullname }}, </p>

<p>C’est bientôt l’anniversaire de {{ user.fullname }}, va vite voir <a href="{{ profileUrl }}#/profile/{{ user.facebookId }}">son profil</a> pour lui offrir le bon cadeau.</p>
<p>Et arrête de croire que des cordons à lunettes lui ferait vraiment plaisir.</p>

<p>L'équipe de Welovegifts.</p>

<p><a href='{{ settingsUrl }}'>Ne plus recevoir les emails</a></p>