Bonjour, 
<br />
<p>Un nouveau message a été envoyé via le formulaire de contact : </p>
<p>Condition : {{ bug.conditions }}</p>
<p>Causes : {{ bug.causes }}</p>
<p>Type : {{ bug.type }}</p>
<p>Priorité : {{ bug.priority }}</p>
<p>Username : {{ bug.username }}</p>
<p>Useragent : {{ bug.useragent }}</p>

<p><br /><i>"Tout ce qui ne nous tue pas nous rend plus fort." Friedrich Wilhelm Nietzsche</i></p>

<p>Merci, au revoir.</p>
